<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Portal de noticias</title>
		</head>
	<body>

		<h1>Bem vindo a pagina inicial</h1>
		<section class="menu">
		
			<h2><a href="http://localhost:3000">home</a></h2>
		
			<h2><a href="http://localhost:3000/formulario_inclusao_noticia">Incluir notícia</a></h2>
		
			<h2><a href="http://localhost:3000/noticia">notícia</a></h2>
		
			<h2><a href="http://localhost:3000/noticias">noticias</a></h2>
  
		</section>
		
	</body>
	<style>
.menu{
	display: flex;
	
}

h2{
	margin: 15px;
}

	</style>
</html>